# Title   
*YL_Data_Cleansing_NZ_Admin.ipynb*

## Purpose
- NZ_admin is a raw dataset, and the task is to conduct a data-cleansing.
- The clean dataset should be readable and able to do the further analysis such as data visualization. 

## Methodology
Quickly describe assumptions and processing steps.

## WIP - improvements
Use this section only if the notebook is not final.

Notable TODOs:
- todo 1;
- todo 2;
- todo 3.

## Results
Describe and comment the most important results.

## Suggested next steps
State suggested next steps, based on results obtained in this notebook.

# Setup

## Library import
We import all the required Python libraries

In [1]:
# Data manipulation
import pandas as pd
import numpy as np

# Options for pandas
pd.options.display.max_columns = 50
pd.options.display.max_rows = 30
pd.options.display.max_colwidth = None

# Visualizations
import plotly
import plotly.graph_objs as go
import plotly.offline as ply
plotly.offline.init_notebook_mode(connected=True)

# import cufflinks as cf
# cf.go_offline(connected=True)
# cf.set_config_file(theme='white')

import matplotlib as plt
%matplotlib inline

# missing value visualization
import missingno as msno

# python regex
import re

# Autoreload extension
if 'autoreload' not in get_ipython().extension_manager.loaded:
    %load_ext autoreload
    
%autoreload 2

## Local library import
We import all the required local libraries libraries

In [ ]:
# Include local library paths
import sys
# sys.path.append('path/to/local/lib') # uncomment and fill to import local libraries

# Import local libraries

# Parameter definition
We set all relevant parameters for our notebook. By convention, parameters are uppercase, while all the 
other variables follow Python's guidelines.


# Data import
We retrieve all the required data for the analysis.

In [2]:
nz_admin = pd.read_excel(r'NZ_Admin_JOBS.xlsx')

In [3]:
nz_admin.head()

,字段1,字段1_link,字段2,字段3,字段4,字段5
0,Administrator,https://www.seek.co.nz/job/50582301?type=promoted#searchRequestToken=feee129e-c80f-4f79-ac5f-98ddb6d6c22b,NaN,location: Bay of PlentyBay of Plentyarea: TaurangaTauranga,"Featured,at,Private Advertiser",classification: Administration & Office SupportAdministration & Office SupportsubClassification: Office ManagementOffice Management
1,Receptionist,https://www.seek.co.nz/job/50620889?type=promoted#searchRequestToken=feee129e-c80f-4f79-ac5f-98ddb6d6c22b,Avenues Orthodontics,location: Bay of PlentyBay of Plentyarea: TaurangaTauranga,"Featured,at",classification: Administration & Office SupportAdministration & Office SupportsubClassification: ReceptionistsReceptionists
2,Prosecutions Support Officer,https://www.seek.co.nz/job/50622169?type=standard#searchRequestToken=feee129e-c80f-4f79-ac5f-98ddb6d6c22b,New Zealand Police,location: AucklandAuckland,"4d ago,at",classification: Administration & Office SupportAdministration & Office SupportsubClassification: OtherOther
3,Early Childhood Centre Administrator,https://www.seek.co.nz/job/50639620?type=standard#searchRequestToken=feee129e-c80f-4f79-ac5f-98ddb6d6c22b,Kew Pacific Island Early Learning Centre,location: SouthlandSouthlandarea: InvercargillInvercargill,"1h ago,at",classification: Administration & Office SupportAdministration & Office SupportsubClassification: Administrative AssistantsAdministrative Assistants
4,Business Support Administrator,https://www.seek.co.nz/job/50622432?type=standout#searchRequestToken=feee129e-c80f-4f79-ac5f-98ddb6d6c22b,NaN,location: CanterburyCanterburyarea: ChristchurchChristchurch,"4d ago,at,Private Advertiser",classification: Administration & Office SupportAdministration & Office SupportsubClassification: Client & Sales AdministrationClient & Sales Administration

In [4]:
nz_admin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2708 entries, 0 to 2707
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   字段1       2708 non-null   object
 1   字段1_link  2708 non-null   object
 2   字段2       2686 non-null   object
 3   字段3       2708 non-null   object
 4   字段4       2708 non-null   object
 5   字段5       2708 non-null   object
dtypes: object(6)
memory usage: 127.1+ KB

In [5]:
nz_admin.rename({
    '字段1': 'column1', 
    '字段1_link': 'column1_link',
    '字段2': 'column2', 
    '字段3': 'column3',
    '字段4': 'column4', 
    '字段5': 'column5'
}, axis=1, inplace=True)

In [6]:
nz_admin.head()

,column1,column1_link,column2,column3,column4,column5
0,Administrator,https://www.seek.co.nz/job/50582301?type=promoted#searchRequestToken=feee129e-c80f-4f79-ac5f-98ddb6d6c22b,NaN,location: Bay of PlentyBay of Plentyarea: TaurangaTauranga,"Featured,at,Private Advertiser",classification: Administration & Office SupportAdministration & Office SupportsubClassification: Office ManagementOffice Management
1,Receptionist,https://www.seek.co.nz/job/50620889?type=promoted#searchRequestToken=feee129e-c80f-4f79-ac5f-98ddb6d6c22b,Avenues Orthodontics,location: Bay of PlentyBay of Plentyarea: TaurangaTauranga,"Featured,at",classification: Administration & Office SupportAdministration & Office SupportsubClassification: ReceptionistsReceptionists
2,Prosecutions Support Officer,https://www.seek.co.nz/job/50622169?type=standard#searchRequestToken=feee129e-c80f-4f79-ac5f-98ddb6d6c22b,New Zealand Police,location: AucklandAuckland,"4d ago,at",classification: Administration & Office SupportAdministration & Office SupportsubClassification: OtherOther
3,Early Childhood Centre Administrator,https://www.seek.co.nz/job/50639620?type=standard#searchRequestToken=feee129e-c80f-4f79-ac5f-98ddb6d6c22b,Kew Pacific Island Early Learning Centre,location: SouthlandSouthlandarea: InvercargillInvercargill,"1h ago,at",classification: Administration & Office SupportAdministration & Office SupportsubClassification: Administrative AssistantsAdministrative Assistants
4,Business Support Administrator,https://www.seek.co.nz/job/50622432?type=standout#searchRequestToken=feee129e-c80f-4f79-ac5f-98ddb6d6c22b,NaN,location: CanterburyCanterburyarea: ChristchurchChristchurch,"4d ago,at,Private Advertiser",classification: Administration & Office SupportAdministration & Office SupportsubClassification: Client & Sales AdministrationClient & Sales Administration

# Data processing
Put here the core of the notebook. Feel free di further split this section into subsections.

## Column1_link - types of job posted

In [7]:
nz_admin.iloc[0]

column1                                                                                                                               Administrator
column1_link                              https://www.seek.co.nz/job/50582301?type=promoted#searchRequestToken=feee129e-c80f-4f79-ac5f-98ddb6d6c22b
column2                                                                                                                                         NaN
column3                                                                                  location: Bay of PlentyBay of Plentyarea: TaurangaTauranga
column4                                                                                                              Featured,at,Private Advertiser
column5         classification: Administration & Office SupportAdministration & Office SupportsubClassification: Office ManagementOffice Management
Name: 0, dtype: object

In [13]:
re.search(r'(\/)(\d+)(\?)', nz_admin.iloc[0][1]).group(2)

'50582301'

In [52]:
# re.search(r'type=(\w)', nz_admin.iloc[0][1]).group()
re.search(r'=(\w+)#', nz_admin.iloc[0][1]).group(1)

'promoted'

In [54]:
nz_admin['column1_link'].apply(lambda row: re.search(r'=(\w+)#', row).group(1))

0       promoted
1       promoted
2       standard
3       standard
4       standout
          ...
2703    standout
2704    standout
2705    standout
2706    standout
2707    standout
Name: column1_link, Length: 2708, dtype: object

In [55]:
nz_admin_01 = nz_admin.copy()

In [56]:
nz_admin_01.head()

,column1,column1_link,column2,column3,column4,column5
0,Administrator,https://www.seek.co.nz/job/50582301?type=promoted#searchRequestToken=feee129e-c80f-4f79-ac5f-98ddb6d6c22b,NaN,location: Bay of PlentyBay of Plentyarea: TaurangaTauranga,"Featured,at,Private Advertiser",classification: Administration & Office SupportAdministration & Office SupportsubClassification: Office ManagementOffice Management
1,Receptionist,https://www.seek.co.nz/job/50620889?type=promoted#searchRequestToken=feee129e-c80f-4f79-ac5f-98ddb6d6c22b,Avenues Orthodontics,location: Bay of PlentyBay of Plentyarea: TaurangaTauranga,"Featured,at",classification: Administration & Office SupportAdministration & Office SupportsubClassification: ReceptionistsReceptionists
2,Prosecutions Support Officer,https://www.seek.co.nz/job/50622169?type=standard#searchRequestToken=feee129e-c80f-4f79-ac5f-98ddb6d6c22b,New Zealand Police,location: AucklandAuckland,"4d ago,at",classification: Administration & Office SupportAdministration & Office SupportsubClassification: OtherOther
3,Early Childhood Centre Administrator,https://www.seek.co.nz/job/50639620?type=standard#searchRequestToken=feee129e-c80f-4f79-ac5f-98ddb6d6c22b,Kew Pacific Island Early Learning Centre,location: SouthlandSouthlandarea: InvercargillInvercargill,"1h ago,at",classification: Administration & Office SupportAdministration & Office SupportsubClassification: Administrative AssistantsAdministrative Assistants
4,Business Support Administrator,https://www.seek.co.nz/job/50622432?type=standout#searchRequestToken=feee129e-c80f-4f79-ac5f-98ddb6d6c22b,NaN,location: CanterburyCanterburyarea: ChristchurchChristchurch,"4d ago,at,Private Advertiser",classification: Administration & Office SupportAdministration & Office SupportsubClassification: Client & Sales AdministrationClient & Sales Administration

In [57]:
nz_admin_01['job_advert_type'] = nz_admin['column1_link'].apply(lambda row: re.search(r'=(\w+)#', row).group(1))

In [59]:
nz_admin_01.head(2)

,column1,column1_link,column2,column3,column4,column5,job_advert_type
0,Administrator,https://www.seek.co.nz/job/50582301?type=promoted#searchRequestToken=feee129e-c80f-4f79-ac5f-98ddb6d6c22b,NaN,location: Bay of PlentyBay of Plentyarea: TaurangaTauranga,"Featured,at,Private Advertiser",classification: Administration & Office SupportAdministration & Office SupportsubClassification: Office ManagementOffice Management,promoted
1,Receptionist,https://www.seek.co.nz/job/50620889?type=promoted#searchRequestToken=feee129e-c80f-4f79-ac5f-98ddb6d6c22b,Avenues Orthodontics,location: Bay of PlentyBay of Plentyarea: TaurangaTauranga,"Featured,at",classification: Administration & Office SupportAdministration & Office SupportsubClassification: ReceptionistsReceptionists,promoted

In [60]:
nz_admin_01.drop('column1_link', axis=1, inplace=True)

In [61]:
nz_admin_01.head(3)

,column1,column2,column3,column4,column5,job_advert_type
0,Administrator,NaN,location: Bay of PlentyBay of Plentyarea: TaurangaTauranga,"Featured,at,Private Advertiser",classification: Administration & Office SupportAdministration & Office SupportsubClassification: Office ManagementOffice Management,promoted
1,Receptionist,Avenues Orthodontics,location: Bay of PlentyBay of Plentyarea: TaurangaTauranga,"Featured,at",classification: Administration & Office SupportAdministration & Office SupportsubClassification: ReceptionistsReceptionists,promoted
2,Prosecutions Support Officer,New Zealand Police,location: AucklandAuckland,"4d ago,at",classification: Administration & Office SupportAdministration & Office SupportsubClassification: OtherOther,standard

In [64]:
######## When we attempt to run data visualization, we could analyze whether the type of advert could affect
######## the company to find the fit candidate quicker.
nz_admin_01['job_advert_type'].value_counts()

standout    1877
standard     811
promoted      20
Name: job_advert_type, dtype: int64

In [65]:
nz_admin_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2708 entries, 0 to 2707
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   column1          2708 non-null   object
 1   column2          2686 non-null   object
 2   column3          2708 non-null   object
 3   column4          2708 non-null   object
 4   column5          2708 non-null   object
 5   job_advert_type  2708 non-null   object
dtypes: object(6)
memory usage: 127.1+ KB

## Column1 - Occupation

In [66]:
nz_admin_01['column1'].value_counts()

Executive Assistant                                                301
Temporary Office Roles                                             280
Team Administrator                                                  76
Contracts Administrator                                             76
Temp Receptionists/Administrators - Ad Agencies/Music Companies     71
                                                                  ...
Casual Administrator                                                 1
Operations Administrator                                             1
Weighbridge Administrator                                            1
Business Development Administrator                                   1
Customer Service & Office Manager                                    1
Name: column1, Length: 548, dtype: int64

In [67]:
# The nz_admin dataset contains 548 unique profession.
nz_admin_01['column1'].nunique()

548

In [68]:
nz_admin_01.rename({'column1': 'occupation'}, axis=1, inplace=True)

In [69]:
nz_admin_01.head()

,occupation,column2,column3,column4,column5,job_advert_type
0,Administrator,NaN,location: Bay of PlentyBay of Plentyarea: TaurangaTauranga,"Featured,at,Private Advertiser",classification: Administration & Office SupportAdministration & Office SupportsubClassification: Office ManagementOffice Management,promoted
1,Receptionist,Avenues Orthodontics,location: Bay of PlentyBay of Plentyarea: TaurangaTauranga,"Featured,at",classification: Administration & Office SupportAdministration & Office SupportsubClassification: ReceptionistsReceptionists,promoted
2,Prosecutions Support Officer,New Zealand Police,location: AucklandAuckland,"4d ago,at",classification: Administration & Office SupportAdministration & Office SupportsubClassification: OtherOther,standard
3,Early Childhood Centre Administrator,Kew Pacific Island Early Learning Centre,location: SouthlandSouthlandarea: InvercargillInvercargill,"1h ago,at",classification: Administration & Office SupportAdministration & Office SupportsubClassification: Administrative AssistantsAdministrative Assistants,standard
4,Business Support Administrator,NaN,location: CanterburyCanterburyarea: ChristchurchChristchurch,"4d ago,at,Private Advertiser",classification: Administration & Office SupportAdministration & Office SupportsubClassification: Client & Sales AdministrationClient & Sales Administration,standout

## Column2 - company name

In [70]:
# column "字段2" contains missing values. This column presents the corporate name, which allows to analyse 
# job vacancy within particular company.
nz_admin_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2708 entries, 0 to 2707
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   occupation       2708 non-null   object
 1   column2          2686 non-null   object
 2   column3          2708 non-null   object
 3   column4          2708 non-null   object
 4   column5          2708 non-null   object
 5   job_advert_type  2708 non-null   object
dtypes: object(6)
memory usage: 127.1+ KB

In [71]:
nz_admin_02 = nz_admin_01.copy()

In [72]:
nz_admin_02.head(7)

,occupation,column2,column3,column4,column5,job_advert_type
0,Administrator,NaN,location: Bay of PlentyBay of Plentyarea: TaurangaTauranga,"Featured,at,Private Advertiser",classification: Administration & Office SupportAdministration & Office SupportsubClassification: Office ManagementOffice Management,promoted
1,Receptionist,Avenues Orthodontics,location: Bay of PlentyBay of Plentyarea: TaurangaTauranga,"Featured,at",classification: Administration & Office SupportAdministration & Office SupportsubClassification: ReceptionistsReceptionists,promoted
2,Prosecutions Support Officer,New Zealand Police,location: AucklandAuckland,"4d ago,at",classification: Administration & Office SupportAdministration & Office SupportsubClassification: OtherOther,standard
3,Early Childhood Centre Administrator,Kew Pacific Island Early Learning Centre,location: SouthlandSouthlandarea: InvercargillInvercargill,"1h ago,at",classification: Administration & Office SupportAdministration & Office SupportsubClassification: Administrative AssistantsAdministrative Assistants,standard
4,Business Support Administrator,NaN,location: CanterburyCanterburyarea: ChristchurchChristchurch,"4d ago,at,Private Advertiser",classification: Administration & Office SupportAdministration & Office SupportsubClassification: Client & Sales AdministrationClient & Sales Administration,standout
5,Support Officer,Ministry for Primary Industries,location: NorthlandNorthlandarea: WhangareiWhangarei,"9m ago,at",classification: Administration & Office SupportAdministration & Office SupportsubClassification: Administrative AssistantsAdministrative Assistants,standout
6,Support Officer,"Ministry of Business, Innovation and Employment",location: WellingtonWellingtonarea: Wellington CentralWellington Central,"5d ago,at",classification: Administration & Office SupportAdministration & Office SupportsubClassification: OtherOther,standout

In [77]:
# we noticed that all job vacancies with null value filled at column2 showing the feature "Private Advertiser"
# at column4, which may state that these job adverts are posted by job hunting agencies.
nz_admin_02[nz_admin_02['column2'].isnull()]

,occupation,column2,column3,column4,column5,job_advert_type
0,Administrator,NaN,location: Bay of PlentyBay of Plentyarea: TaurangaTauranga,"Featured,at,Private Advertiser",classification: Administration & Office SupportAdministration & Office SupportsubClassification: Office ManagementOffice Management,promoted
4,Business Support Administrator,NaN,location: CanterburyCanterburyarea: ChristchurchChristchurch,"4d ago,at,Private Advertiser",classification: Administration & Office SupportAdministration & Office SupportsubClassification: Client & Sales AdministrationClient & Sales Administration,standout
19,Administrator,NaN,location: ManawatuManawatuarea: Rest of ManawatuRest of Manawatu,"7d ago,at,Private Advertiser",classification: Administration & Office SupportAdministration & Office SupportsubClassification: OtherOther,standard
60,Administrator,NaN,location: Bay of PlentyBay of Plentyarea: TaurangaTauranga,"11d ago,at,Private Advertiser",classification: Administration & Office SupportAdministration & Office SupportsubClassification: Office ManagementOffice Management,standout
64,ADMINISTRATION SPECIALIST - CONSTRUCTION,NaN,location: AucklandAucklandarea: Rodney & North ShoreRodney & North Shore,"5h ago,at,Private Advertiser",classification: Administration & Office SupportAdministration & Office SupportsubClassification: Administrative AssistantsAdministrative Assistants,standout
67,Administrator,NaN,location: Bay of PlentyBay of Plentyarea: TaurangaTauranga,"Featured,at,Private Advertiser",classification: Administration & Office SupportAdministration & Office SupportsubClassification: Office ManagementOffice Management,promoted
71,Administrator,NaN,location: AucklandAucklandarea: Rodney & North ShoreRodney & North Shore,"6d ago,at,Private Advertiser",classification: Administration & Office SupportAdministration & Office SupportsubClassification: OtherOther,standout
95,Export Admin Support,NaN,location: Hawkes BayHawkes Bayarea: HastingsHastings,"11d ago,at,Private Advertiser",classification: Administration & Office SupportAdministration & Office SupportsubClassification: Administrative AssistantsAdministrative Assistants,standard
135,Executive Assistant,NaN,location: AucklandAucklandarea: Manukau & East AucklandManukau & East Auckland,"5d ago,at,Private Advertiser","classification: Administration & Office SupportAdministration & Office SupportsubClassification: PA, EA & SecretarialPA, EA & Secretarial",standard
187,PERSONAL ASSISTANT - PART TIME,NaN,location: AucklandAucklandarea: Auckland CentralAuckland Central,"10d ago,at,Private Advertiser","classification: Administration & Office SupportAdministration & Office SupportsubClassification: PA, EA & SecretarialPA, EA & Secretarial",standard
215,Time Target Rostering Administrator,NaN,location: WaikatoWaikatoarea: Rest of WaikatoRest of Waikato,"12d ago,at,Private Advertiser",classification: Administration & Office SupportAdministration & Office SupportsubClassification: Data Entry & Word ProcessingData Entry & Word Processing,standout
297,Operations Coordinator - South Island,NaN,location: CanterburyCanterburyarea: ChristchurchChristchurch,"7d ago,at,Private Advertiser",classification: Administration & Office SupportAdministration & Office SupportsubClassification: Administrative AssistantsAdministrative Assistants,standout
318,Customer Service /Sales/Admin,NaN,"location: AucklandAucklandarea: Rodney & North ShoreRodney & North Shore,$40,000 - $49,999","14d ago,at,Private Advertiser","$40,000 - $49,999",standard
385,Client Liaison,NaN,location: TaranakiTaranakiarea: New PlymouthNew Plymouth,"11d ago,at,Private Advertiser",classification: Administration & Office SupportAdministration & Office SupportsubClassification: Client & Sales AdministrationClient & Sales Administration,standout
412,Executive Business Coordinator Cadetship - Graduate Opportunity!,NaN,location: AucklandAucklandarea: Manukau & East AucklandManukau & East Auckland,"4d ago,at,Private Advertiser",classification: Administration & Office SupportAdministration & Office SupportsubClassification: Administrative AssistantsAdministrative Assistants,standard
437,Receptionist / Office Assistant,NaN,location: AucklandAucklandarea: Auckland CentralAuckland Central,"24d ago,at,Private Advertiser",classification: Administration & Office SupportAdministration & Office SupportsubClassification: Administrative AssistantsAdministrative Assistants,standout
446,Receptionist,NaN,location: WellingtonWellingtonarea: Hutt ValleyHutt Valley,"22d ago,at,Private Advertiser",classification: Administration & Office SupportAdministration & Office SupportsubClassification: ReceptionistsReceptionists,standout
470,Personal Assistant / Accounts Administrator,NaN,location: Bay of PlentyBay of Plentyarea: RotoruaRotorua,"13d ago,at,Private Advertiser","classification: Administration & Office SupportAdministration & Office SupportsubClassification: PA, EA & SecretarialPA, EA & Secretarial",standout
510,Customer Service,NaN,location: AucklandAucklandarea: Rodney & North ShoreRodney & North Shore,"19d ago,at,Private Advertiser",classification: Administration & Office SupportAdministration & Office SupportsubClassification: Client & Sales AdministrationClient & Sales Administration,standout
560,Client Side Office Manager,NaN,"location: AucklandAucklandarea: Auckland CentralAuckland Central,$40 - $45 per hour","19d ago,at,Private Advertiser",$40 - $45 per hour,standout
623,Personal Assistant,NaN,location: AucklandAucklandarea: Manukau & East AucklandManukau & East Auckland,"28d ago,at,Private Advertiser","classification: Administration & Office SupportAdministration & Office SupportsubClassification: PA, EA & SecretarialPA, EA & Secretarial",standout
656,Card Fulfillment Officer,NaN,"location: AucklandAucklandarea: Auckland CentralAuckland Central,$45,000 - $54,999","24d ago,at,Private Advertiser","$45,000 - $54,999",standard

In [79]:
nz_admin_02['column2'].fillna(value="Private Advertiser", inplace=True)

In [81]:
nz_admin_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2708 entries, 0 to 2707
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   occupation       2708 non-null   object
 1   column2          2708 non-null   object
 2   column3          2708 non-null   object
 3   column4          2708 non-null   object
 4   column5          2708 non-null   object
 5   job_advert_type  2708 non-null   object
dtypes: object(6)
memory usage: 127.1+ KB

In [82]:
nz_admin_02.rename({'column2': 'Company Name'}, axis=1, inplace=True)

In [83]:
nz_admin_02.head()

,occupation,Company Name,column3,column4,column5,job_advert_type
0,Administrator,Private Advertiser,location: Bay of PlentyBay of Plentyarea: TaurangaTauranga,"Featured,at,Private Advertiser",classification: Administration & Office SupportAdministration & Office SupportsubClassification: Office ManagementOffice Management,promoted
1,Receptionist,Avenues Orthodontics,location: Bay of PlentyBay of Plentyarea: TaurangaTauranga,"Featured,at",classification: Administration & Office SupportAdministration & Office SupportsubClassification: ReceptionistsReceptionists,promoted
2,Prosecutions Support Officer,New Zealand Police,location: AucklandAuckland,"4d ago,at",classification: Administration & Office SupportAdministration & Office SupportsubClassification: OtherOther,standard
3,Early Childhood Centre Administrator,Kew Pacific Island Early Learning Centre,location: SouthlandSouthlandarea: InvercargillInvercargill,"1h ago,at",classification: Administration & Office SupportAdministration & Office SupportsubClassification: Administrative AssistantsAdministrative Assistants,standard
4,Business Support Administrator,Private Advertiser,location: CanterburyCanterburyarea: ChristchurchChristchurch,"4d ago,at,Private Advertiser",classification: Administration & Office SupportAdministration & Office SupportsubClassification: Client & Sales AdministrationClient & Sales Administration,standout

## Column3 - Company location (Area) / Company location (suburb) / Salary (Benefit)

In [84]:
# the column "字段3" presents the corporate address of each company. Many characters are all linked together.
# In addition, all suburbs duplicates. 
nz_admin_02['column3'].head(10)

0                  location: Bay of PlentyBay of Plentyarea: TaurangaTauranga
1                  location: Bay of PlentyBay of Plentyarea: TaurangaTauranga
2                                                  location: AucklandAuckland
3                  location: SouthlandSouthlandarea: InvercargillInvercargill
4                location: CanterburyCanterburyarea: ChristchurchChristchurch
5                        location: NorthlandNorthlandarea: WhangareiWhangarei
6    location: WellingtonWellingtonarea: Wellington CentralWellington Central
7                    location: Bay of PlentyBay of Plentyarea: RotoruaRotorua
8                  location: Bay of PlentyBay of Plentyarea: TaurangaTauranga
9                                              location: CanterburyCanterbury
Name: column3, dtype: object

In [182]:
### Demonstration of steps to create Python function "address_are":
# print([x.strip() for x in nz_admin_02['字段3'].iloc[0].split(":")])
# print([x.strip() for x in nz_admin_02['字段3'].iloc[0].split(":")][1])
# aaa = re.findall('[A-Z][^A-Z]*', [x.strip() for x in nz_admin_02['字段3'].iloc[0].split(":")][1])
# print(aaa)
# bbb = ""
# for i in range(len(aaa)//2):
#     bbb += aaa[i]
# print(bbb)

['location', 'Bay of PlentyBay of Plentyarea', 'TaurangaTauranga']
Bay of PlentyBay of Plentyarea
['Bay of ', 'Plenty', 'Bay of ', 'Plentyarea']
Bay of Plenty

In [85]:
def address_area(address):
    lst_address = [x.strip() for x in address.split(":")][1]
    lst_area = re.findall('[A-Z][^A-Z]*', lst_address)
    area = ""
    for i in range(len(lst_area)//2):
        area += lst_area[i]
    return area

In [86]:
nz_admin_03 = nz_admin_02.copy()

In [87]:
nz_admin_03['Company location (Area)'] = nz_admin_03['column3'].apply(lambda row: address_area(row))

In [88]:
def address_suburb(address):
    lst_address = [x.strip() for x in address.split(":")]
    if len(lst_address) == 3:
        lst_suburb = re.findall('[A-Z][^A-Z]*', lst_address[2])
        suburb = ""
        for i in range(len(lst_suburb)//2):
            suburb += lst_suburb[i]
        return suburb
#     else:
#         return 0

In [89]:
nz_admin_03['Company location (suburb)'] = nz_admin_03['column3'].apply(lambda row: address_suburb(row))

In [90]:
nz_admin_04 = nz_admin_03.copy()

In [268]:
# nz_admin_04.drop('字段3', axis=1, inplace=True)

In [91]:
nz_admin_04.head()

,occupation,Company Name,column3,column4,column5,job_advert_type,Company location (Area),Company location (suburb)
0,Administrator,Private Advertiser,location: Bay of PlentyBay of Plentyarea: TaurangaTauranga,"Featured,at,Private Advertiser",classification: Administration & Office SupportAdministration & Office SupportsubClassification: Office ManagementOffice Management,promoted,Bay of Plenty,Tauranga
1,Receptionist,Avenues Orthodontics,location: Bay of PlentyBay of Plentyarea: TaurangaTauranga,"Featured,at",classification: Administration & Office SupportAdministration & Office SupportsubClassification: ReceptionistsReceptionists,promoted,Bay of Plenty,Tauranga
2,Prosecutions Support Officer,New Zealand Police,location: AucklandAuckland,"4d ago,at",classification: Administration & Office SupportAdministration & Office SupportsubClassification: OtherOther,standard,Auckland,None
3,Early Childhood Centre Administrator,Kew Pacific Island Early Learning Centre,location: SouthlandSouthlandarea: InvercargillInvercargill,"1h ago,at",classification: Administration & Office SupportAdministration & Office SupportsubClassification: Administrative AssistantsAdministrative Assistants,standard,Southland,Invercargill
4,Business Support Administrator,Private Advertiser,location: CanterburyCanterburyarea: ChristchurchChristchurch,"4d ago,at,Private Advertiser",classification: Administration & Office SupportAdministration & Office SupportsubClassification: Client & Sales AdministrationClient & Sales Administration,standout,Canterbury,Christchurch

In [96]:
# There are three types of formats to present employee benefits including annual salary, hourly rate and insurance
print(nz_admin_04['column3'].iloc[17].split(',', 1)[1])
print(nz_admin_04['column3'].iloc[42].split(',', 1)[1])
print(nz_admin_04['column3'].iloc[57].split(',', 1)[1])

$20 - $24.99 per hour
$40,000 - $49,999
Includes life and health insurance

In [97]:
def address_benefit(address):
#     lst_address = [x.strip() for x in address.split(":")]
#     if len(lst_address) == 3:
    benefit = address.split(',', 1)
    if len(benefit)>1:
        return benefit[1]

In [98]:
nz_admin_04['Salary($)(Benefit)'] = nz_admin_04['column3'].apply(lambda row: address_benefit(row))

In [99]:
nz_admin_05 = nz_admin_04.copy()

In [100]:
nz_admin_05.drop('column3', axis=1, inplace=True)

In [102]:
# The column "Salary and benefits" contains the majority of missing values.
nz_admin_05.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2708 entries, 0 to 2707
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   occupation                 2708 non-null   object
 1   Company Name               2708 non-null   object
 2   column4                    2708 non-null   object
 3   column5                    2708 non-null   object
 4   job_advert_type            2708 non-null   object
 5   Company location (Area)    2708 non-null   object
 6   Company location (suburb)  2167 non-null   object
 7   Salary($)(Benefit)         603 non-null    object
dtypes: object(8)
memory usage: 169.4+ KB

In [103]:
nz_admin_05.head(158)

,occupation,Company Name,column4,column5,job_advert_type,Company location (Area),Company location (suburb),Salary($)(Benefit)
0,Administrator,Private Advertiser,"Featured,at,Private Advertiser",classification: Administration & Office SupportAdministration & Office SupportsubClassification: Office ManagementOffice Management,promoted,Bay of Plenty,Tauranga,None
1,Receptionist,Avenues Orthodontics,"Featured,at",classification: Administration & Office SupportAdministration & Office SupportsubClassification: ReceptionistsReceptionists,promoted,Bay of Plenty,Tauranga,None
2,Prosecutions Support Officer,New Zealand Police,"4d ago,at",classification: Administration & Office SupportAdministration & Office SupportsubClassification: OtherOther,standard,Auckland,None,None
3,Early Childhood Centre Administrator,Kew Pacific Island Early Learning Centre,"1h ago,at",classification: Administration & Office SupportAdministration & Office SupportsubClassification: Administrative AssistantsAdministrative Assistants,standard,Southland,Invercargill,None
4,Business Support Administrator,Private Advertiser,"4d ago,at,Private Advertiser",classification: Administration & Office SupportAdministration & Office SupportsubClassification: Client & Sales AdministrationClient & Sales Administration,standout,Canterbury,Christchurch,None
...,...,...,...,...,...,...,...,...
153,Executive Assistant/ Support Co-ordinator,Sime Darby Motors Group,"6d ago,at","classification: Administration & Office SupportAdministration & Office SupportsubClassification: PA, EA & SecretarialPA, EA & Secretarial",standout,Auckland,Manukau & East Auckland,None
154,Customer Service Officer,CM Trailer Parts,"Featured,at",classification: Administration & Office SupportAdministration & Office SupportsubClassification: Client & Sales AdministrationClient & Sales Administration,promoted,Canterbury,Timaru & South Canterbury,None
155,Business Support Administrator,S&L Land Development and Design Specialists,"Featured,at",classification: Administration & Office SupportAdministration & Office SupportsubClassification: Administrative AssistantsAdministrative Assistants,promoted,Bay of Plenty,Tauranga,None
156,Branch and Events Administrator,Momentum Consulting Group,"7d ago,at",Up to $27ph,standout,Manawatu,Palmerston North,Up to $27ph
157,Office Administrator,Lewis Plumbing Co,"13d ago,at",classification: Administration & Office SupportAdministration & Office SupportsubClassification: Administrative AssistantsAdministrative Assistants,standard,Bay of Plenty,Rotorua,None

## Column4 - Job_Posted(days ago)

In [106]:
nz_admin_05['column4'].iloc[154]

'Featured,at'

In [108]:
re.search(r'(\d+)', nz_admin_05['column4'].iloc[145]).group()

'7'

In [110]:
try:
  print(re.search(r'(\d+)', nz_admin_05['column4'].iloc[154]).group())
except:
  print("An exception occurred")

An exception occurred

In [111]:
def job_posted(row):
    try:
      return re.search(r'(\d+)(\w)', row).group()
    except:
      return None

In [112]:
nz_admin_06 = nz_admin_05.copy()

In [114]:
nz_admin_06['Job_Posted(mins/hrs/days ago)'] = nz_admin_06['column4'].apply(lambda row: job_posted(row))

In [115]:
# The column "Job_Posted(mins/hrs/days ago)" contains a small amount of missing values.
nz_admin_06.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2708 entries, 0 to 2707
Data columns (total 9 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   occupation                     2708 non-null   object
 1   Company Name                   2708 non-null   object
 2   column4                        2708 non-null   object
 3   column5                        2708 non-null   object
 4   job_advert_type                2708 non-null   object
 5   Company location (Area)        2708 non-null   object
 6   Company location (suburb)      2167 non-null   object
 7   Salary($)(Benefit)             603 non-null    object
 8   Job_Posted(mins/hrs/days ago)  2688 non-null   object
dtypes: object(9)
memory usage: 190.5+ KB

In [116]:
nz_admin_07 = nz_admin_06.copy()

In [117]:
nz_admin_07.drop('column4', axis=1, inplace=True)

In [118]:
nz_admin_07.head()

,occupation,Company Name,column5,job_advert_type,Company location (Area),Company location (suburb),Salary($)(Benefit),Job_Posted(mins/hrs/days ago)
0,Administrator,Private Advertiser,classification: Administration & Office SupportAdministration & Office SupportsubClassification: Office ManagementOffice Management,promoted,Bay of Plenty,Tauranga,None,None
1,Receptionist,Avenues Orthodontics,classification: Administration & Office SupportAdministration & Office SupportsubClassification: ReceptionistsReceptionists,promoted,Bay of Plenty,Tauranga,None,None
2,Prosecutions Support Officer,New Zealand Police,classification: Administration & Office SupportAdministration & Office SupportsubClassification: OtherOther,standard,Auckland,None,None,4d
3,Early Childhood Centre Administrator,Kew Pacific Island Early Learning Centre,classification: Administration & Office SupportAdministration & Office SupportsubClassification: Administrative AssistantsAdministrative Assistants,standard,Southland,Invercargill,None,1h
4,Business Support Administrator,Private Advertiser,classification: Administration & Office SupportAdministration & Office SupportsubClassification: Client & Sales AdministrationClient & Sales Administration,standout,Canterbury,Christchurch,None,4d

In [124]:
##### Job_Posted with value filled by None either "Featured,at,Private Advertiser" or "Featured,at"
nz_admin_07.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2708 entries, 0 to 2707
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   occupation                     2708 non-null   object
 1   Company Name                   2708 non-null   object
 2   column5                        2708 non-null   object
 3   job_advert_type                2708 non-null   object
 4   Company location (Area)        2708 non-null   object
 5   Company location (suburb)      2167 non-null   object
 6   Salary($)(Benefit)             603 non-null    object
 7   Job_Posted(mins/hrs/days ago)  2688 non-null   object
dtypes: object(8)
memory usage: 169.4+ KB

In [133]:
nz_admin_07['Job_Posted(mins/hrs/days ago)'].iloc[10]

'7d'

In [146]:
re.search(r'(\d*)(\w)', nz_admin_07['Job_Posted(mins/hrs/days ago)'].iloc[5]).group(1)

'9'

In [148]:
def job_posted_days(row):
    try:
        if re.search(r'(\d*)(\w)', row).group(2) == 'd':
            return re.search(r'(\d*)(\w)', row).group(1)
        else:
            return 0
    except:
      return None

In [157]:
nz_admin_07['Job_Posted(mins/hrs/days ago)'].apply(lambda row: job_posted_days(row))

0       None
1       None
2          4
3          0
4          4
        ...
2703      27
2704      27
2705      20
2706      28
2707      26
Name: Job_Posted(mins/hrs/days ago), Length: 2708, dtype: object

In [158]:
nz_admin_07['Job_Posted(days ago)'] = nz_admin_07['Job_Posted(mins/hrs/days ago)'].apply(lambda row: job_posted_days(row))

In [160]:
nz_admin_07.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2708 entries, 0 to 2707
Data columns (total 9 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   occupation                     2708 non-null   object
 1   Company Name                   2708 non-null   object
 2   column5                        2708 non-null   object
 3   job_advert_type                2708 non-null   object
 4   Company location (Area)        2708 non-null   object
 5   Company location (suburb)      2167 non-null   object
 6   Salary($)(Benefit)             603 non-null    object
 7   Job_Posted(mins/hrs/days ago)  2688 non-null   object
 8   Job_Posted(days ago)           2688 non-null   object
dtypes: object(9)
memory usage: 190.5+ KB

In [161]:
nz_admin_07.drop('Job_Posted(mins/hrs/days ago)', axis=1, inplace=True)

In [162]:
nz_admin_07.head()

,occupation,Company Name,column5,job_advert_type,Company location (Area),Company location (suburb),Salary($)(Benefit),Job_Posted(days ago)
0,Administrator,Private Advertiser,classification: Administration & Office SupportAdministration & Office SupportsubClassification: Office ManagementOffice Management,promoted,Bay of Plenty,Tauranga,None,None
1,Receptionist,Avenues Orthodontics,classification: Administration & Office SupportAdministration & Office SupportsubClassification: ReceptionistsReceptionists,promoted,Bay of Plenty,Tauranga,None,None
2,Prosecutions Support Officer,New Zealand Police,classification: Administration & Office SupportAdministration & Office SupportsubClassification: OtherOther,standard,Auckland,None,None,4
3,Early Childhood Centre Administrator,Kew Pacific Island Early Learning Centre,classification: Administration & Office SupportAdministration & Office SupportsubClassification: Administrative AssistantsAdministrative Assistants,standard,Southland,Invercargill,None,0
4,Business Support Administrator,Private Advertiser,classification: Administration & Office SupportAdministration & Office SupportsubClassification: Client & Sales AdministrationClient & Sales Administration,standout,Canterbury,Christchurch,None,4

## Column5 - job_classification / job_subclassification

In [163]:
nz_admin_08 = nz_admin_07.copy()

In [564]:
######### Demonstration of steps to create Python function "return_classification" and "return_subclass":
# print(nz_admin_08['字段5'].iloc[10])
# print(nz_admin_08['字段5'].iloc[10].split(':'))
# print(nz_admin_08['字段5'].iloc[11].split(':'))
# print(nz_admin_08['字段5'].iloc[11].split(':')[1])
# print(nz_admin_08['字段5'].iloc[11].split(':')[1].split('subClassification'))
# print(re.findall('[A-Z][^A-Z]*', nz_admin_08['字段5'].iloc[11].split(':')[1].split('subClassification')[0]))
# print(re.search(r'(\w+\s*&\s*\w+\s*\w[a-z]+)', nz_admin_08['字段5'].iloc[11].split(':')[1]).group())
# print(nz_admin_08['字段5'].iloc[4].split(':')[2])
# # print(re.findall('[A-Z][^A-Z]*', nz_admin_08['字段5'].iloc[13].split(':')[2]) #13)

$20 per hour
['$20 per hour']
['classification', ' Administration & Office SupportAdministration & Office SupportsubClassification', ' Office ManagementOffice Management']
 Administration & Office SupportAdministration & Office SupportsubClassification
[' Administration & Office SupportAdministration & Office Support', '']
['Administration & ', 'Office ', 'Support', 'Administration & ', 'Office ', 'Support']
Administration & Office Support
 OtherOther

In [164]:
def return_classification(row):
    lst_row = row.split(':')
    classfication = ""
    if len(lst_row)==1:
        return None
    else:
        lst_class = re.findall('[A-Z][^A-Z]*', lst_row[1].split('subClassfication')[0])
        for i in range(len(lst_class)//2):
            classfication += lst_class[i]
        return classfication

In [165]:
nz_admin_08['job_classification'] = nz_admin_08['column5'].apply(lambda row: return_classification(row))

In [166]:
nz_admin_08.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2708 entries, 0 to 2707
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   occupation                 2708 non-null   object
 1   Company Name               2708 non-null   object
 2   column5                    2708 non-null   object
 3   job_advert_type            2708 non-null   object
 4   Company location (Area)    2708 non-null   object
 5   Company location (suburb)  2167 non-null   object
 6   Salary($)(Benefit)         603 non-null    object
 7   Job_Posted(days ago)       2688 non-null   object
 8   job_classification         2105 non-null   object
dtypes: object(9)
memory usage: 190.5+ KB

In [167]:
def return_subclass(row):
    lst_row = row.split(':')
    subclass = ""
    if len(lst_row)==1:
        return None
    else:
        lst_subclass = re.findall('[A-Z][^A-Z]*', lst_row[2])
        for i in range(len(lst_subclass)//2):
            subclass += lst_subclass[i]
        return subclass

In [168]:
nz_admin_08['column5'].apply(lambda row: return_subclass(row))

0                   Office Management
1                       Receptionists
2                               Other
3           Administrative Assistants
4       Client & Sales Administration
                    ...
2703    Client & Sales Administration
2704                             None
2705                             None
2706                             None
2707             PA, EA & Secretarial
Name: column5, Length: 2708, dtype: object

In [169]:
nz_admin_08.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2708 entries, 0 to 2707
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   occupation                 2708 non-null   object
 1   Company Name               2708 non-null   object
 2   column5                    2708 non-null   object
 3   job_advert_type            2708 non-null   object
 4   Company location (Area)    2708 non-null   object
 5   Company location (suburb)  2167 non-null   object
 6   Salary($)(Benefit)         603 non-null    object
 7   Job_Posted(days ago)       2688 non-null   object
 8   job_classification         2105 non-null   object
dtypes: object(9)
memory usage: 190.5+ KB

In [170]:
nz_admin_08['job_subclassification'] = nz_admin_08['column5'].apply(lambda row: return_subclass(row))

In [171]:
nz_admin_08.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2708 entries, 0 to 2707
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   occupation                 2708 non-null   object
 1   Company Name               2708 non-null   object
 2   column5                    2708 non-null   object
 3   job_advert_type            2708 non-null   object
 4   Company location (Area)    2708 non-null   object
 5   Company location (suburb)  2167 non-null   object
 6   Salary($)(Benefit)         603 non-null    object
 7   Job_Posted(days ago)       2688 non-null   object
 8   job_classification         2105 non-null   object
 9   job_subclassification      2105 non-null   object
dtypes: object(10)
memory usage: 211.7+ KB

In [172]:
nz_admin_09 = nz_admin_08.copy()

In [173]:
nz_admin_09.drop('column5', axis=1, inplace=True)

In [174]:
# The columns "job_classification" and "job_subclassification" contains some missing values.
nz_admin_09.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2708 entries, 0 to 2707
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   occupation                 2708 non-null   object
 1   Company Name               2708 non-null   object
 2   job_advert_type            2708 non-null   object
 3   Company location (Area)    2708 non-null   object
 4   Company location (suburb)  2167 non-null   object
 5   Salary($)(Benefit)         603 non-null    object
 6   Job_Posted(days ago)       2688 non-null   object
 7   job_classification         2105 non-null   object
 8   job_subclassification      2105 non-null   object
dtypes: object(9)
memory usage: 190.5+ KB

In [175]:
nz_admin_09.head()

,occupation,Company Name,job_advert_type,Company location (Area),Company location (suburb),Salary($)(Benefit),Job_Posted(days ago),job_classification,job_subclassification
0,Administrator,Private Advertiser,promoted,Bay of Plenty,Tauranga,None,None,Administration & Office Support,Office Management
1,Receptionist,Avenues Orthodontics,promoted,Bay of Plenty,Tauranga,None,None,Administration & Office Support,Receptionists
2,Prosecutions Support Officer,New Zealand Police,standard,Auckland,None,None,4,Administration & Office Support,Other
3,Early Childhood Centre Administrator,Kew Pacific Island Early Learning Centre,standard,Southland,Invercargill,None,0,Administration & Office Support,Administrative Assistants
4,Business Support Administrator,Private Advertiser,standout,Canterbury,Christchurch,None,4,Administration & Office Support,Client & Sales Administration

## Clean dataset

In [176]:
nz_admin_clean = nz_admin_09.copy()

In [177]:
nz_admin_clean.head(20)

,occupation,Company Name,job_advert_type,Company location (Area),Company location (suburb),Salary($)(Benefit),Job_Posted(days ago),job_classification,job_subclassification
0,Administrator,Private Advertiser,promoted,Bay of Plenty,Tauranga,None,None,Administration & Office Support,Office Management
1,Receptionist,Avenues Orthodontics,promoted,Bay of Plenty,Tauranga,None,None,Administration & Office Support,Receptionists
2,Prosecutions Support Officer,New Zealand Police,standard,Auckland,None,None,4,Administration & Office Support,Other
3,Early Childhood Centre Administrator,Kew Pacific Island Early Learning Centre,standard,Southland,Invercargill,None,0,Administration & Office Support,Administrative Assistants
4,Business Support Administrator,Private Advertiser,standout,Canterbury,Christchurch,None,4,Administration & Office Support,Client & Sales Administration
5,Support Officer,Ministry for Primary Industries,standout,Northland,Whangarei,None,0,Administration & Office Support,Administrative Assistants
6,Support Officer,"Ministry of Business, Innovation and Employment",standout,Wellington,Wellington Central,None,5,Administration & Office Support,Other
7,office administrator,Hepburn Electrical Ltd,standard,Bay of Plenty,Rotorua,None,0,Administration & Office Support,Administrative Assistants
8,Office Administrator,Webster Holland Ltd,standard,Bay of Plenty,Tauranga,None,0,Administration & Office Support,Administrative Assistants
9,Administration Officer,New Zealand Police,standard,Canterbury,None,None,3,Administration & Office Support,Other
10,Administration Officer,Department of Conservation,standout,West Coast,Rest of West Coast,None,7,Administration & Office Support,Administrative Assistants
11,Data Entry,Triple One Care,standard,Tasman,Nelson,None,5,Administration & Office Support,Data Entry & Word Processing
12,Office Admin Assistant (10hrs per week),UIV Limited - Premier Insulation North Central,standard,Auckland,Manukau & East Auckland,$20 per hour,8,None,None
13,Office Administrator,Wraight and Associates Ltd.,standard,Wellington,Wellington Central,None,3,Administration & Office Support,Office Management
14,Office Administrator,Morgan & Pollard Landscapes Ltd,standout,Canterbury,Rest of Canterbury,None,3,Administration & Office Support,Administrative Assistants
15,Customer Service Officer,CM Trailer Parts,standout,Canterbury,Timaru & South Canterbury,None,5,Administration & Office Support,Client & Sales Administration
16,Administration Assistant - Mt Wellington,Harvey Norman,standout,Auckland,Auckland Central,None,0,Administration & Office Support,Administrative Assistants
17,Part-time Health & Disability Administrative Assistant,LIFEWISE,standout,Auckland,Auckland Central,$20 - $24.99 per hour,6,None,None
18,"Office Coordinator, Whangarei Youth Space",Whangarei Youth Space,standard,Northland,Whangarei,None,3,Administration & Office Support,Administrative Assistants
19,Administrator,Private Advertiser,standard,Manawatu,Rest of Manawatu,None,7,Administration & Office Support,Other

# References
We report here relevant references:
1. author1, article1, journal1, year1, url1
2. author2, article2, journal2, year2, url2