# Title   
*YL_Data_Cleansing_NZ_Admin.ipynb*

## Purpose
- NZ_admin is a raw dataset, and the task is to conduct a data-cleansing.
- The clean dataset should be readable and able to do the further analysis such as data visualization. 

## Methodology
Quickly describe assumptions and processing steps.

## WIP - improvements
Use this section only if the notebook is not final.

Notable TODOs:
- todo 1;
- todo 2;
- todo 3.

## Results
Describe and comment the most important results.

## Suggested next steps
State suggested next steps, based on results obtained in this notebook.

# Setup

## Library import
We import all the required Python libraries

In [154]:
# Data manipulation
import pandas as pd
import numpy as np

# Options for pandas
pd.options.display.max_columns = 50
pd.options.display.max_rows = 30
pd.options.display.max_colwidth = None

# Visualizations
import plotly
import plotly.graph_objs as go
import plotly.offline as ply
plotly.offline.init_notebook_mode(connected=True)

# import cufflinks as cf
# cf.go_offline(connected=True)
# cf.set_config_file(theme='white')

import matplotlib as plt
%matplotlib inline

# missing value visualization
import missingno as msno

# python regex
import re

# Autoreload extension
if 'autoreload' not in get_ipython().extension_manager.loaded:
    %load_ext autoreload
    
%autoreload 2

## Local library import
We import all the required local libraries libraries

In [ ]:
# Include local library paths
import sys
# sys.path.append('path/to/local/lib') # uncomment and fill to import local libraries

# Import local libraries

# Parameter definition
We set all relevant parameters for our notebook. By convention, parameters are uppercase, while all the 
other variables follow Python's guidelines.


# Data import
We retrieve all the required data for the analysis.

In [6]:
nz_admin = pd.read_excel(r'NZ_Admin_JOBS.xlsx')

In [8]:
nz_admin.head()

,字段1,字段1_link,字段2,字段3,字段4,字段5
0,Administrator,https://www.seek.co.nz/job/50582301?type=promo...,NaN,location: Bay of PlentyBay of Plentyarea: Taur...,"Featured,at,Private Advertiser",classification: Administration & Office Suppor...
1,Receptionist,https://www.seek.co.nz/job/50620889?type=promo...,Avenues Orthodontics,location: Bay of PlentyBay of Plentyarea: Taur...,"Featured,at",classification: Administration & Office Suppor...
2,Prosecutions Support Officer,https://www.seek.co.nz/job/50622169?type=stand...,New Zealand Police,location: AucklandAuckland,"4d ago,at",classification: Administration & Office Suppor...
3,Early Childhood Centre Administrator,https://www.seek.co.nz/job/50639620?type=stand...,Kew Pacific Island Early Learning Centre,location: SouthlandSouthlandarea: Invercargill...,"1h ago,at",classification: Administration & Office Suppor...
4,Business Support Administrator,https://www.seek.co.nz/job/50622432?type=stand...,NaN,location: CanterburyCanterburyarea: Christchur...,"4d ago,at,Private Advertiser",classification: Administration & Office Suppor...

In [14]:
nz_admin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2708 entries, 0 to 2707
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   字段1       2708 non-null   object
 1   字段1_link  2708 non-null   object
 2   字段2       2686 non-null   object
 3   字段3       2708 non-null   object
 4   字段4       2708 non-null   object
 5   字段5       2708 non-null   object
dtypes: object(6)
memory usage: 127.1+ KB

# Data processing
Put here the core of the notebook. Feel free di further split this section into subsections.

## Column "字段1_link"

In [111]:
nz_admin.iloc[0]

字段1                                             Administrator
字段1_link    https://www.seek.co.nz/job/50582301?type=promo...
字段2                                                       NaN
字段3         location: Bay of PlentyBay of Plentyarea: Taur...
字段4                            Featured,at,Private Advertiser
字段5         classification: Administration & Office Suppor...
Name: 0, dtype: object

In [79]:
re.search(r'(\/)(\d+)(\?)', nz_admin.iloc[0][1]).group(2)

'50582301'

In [93]:
nz_admin['字段1_link'].apply(lambda row: re.search(r'(\/)(\d+)(\?)', row).group(2))

0       50582301
1       50620889
2       50622169
3       50639620
4       50622432
          ...
2703    50490062
2704    50488000
2705    50524865
2706    50477118
2707    50496571
Name: 字段1_link, Length: 2708, dtype: object

In [104]:
nz_admin_01 = nz_admin.copy()

In [105]:
# column 字段1_link contains webpage link of each job vacancy, and it seems no much useful information.
# There is a set of numbers that may be a vancncy number, and I will extract it as a new column named as Ref_No. 
nz_admin_01['Ref_No'] = nz_admin_01['字段1_link'].apply(lambda row: re.search(r'(\/)(\d+)(\?)', row).group(2))

In [106]:
nz_admin_01.drop('字段1_link', axis=1, inplace=True)

In [107]:
nz_admin_01.head()

,字段1,字段2,字段3,字段4,字段5,Ref_No
0,Administrator,NaN,location: Bay of PlentyBay of Plentyarea: Taur...,"Featured,at,Private Advertiser",classification: Administration & Office Suppor...,50582301
1,Receptionist,Avenues Orthodontics,location: Bay of PlentyBay of Plentyarea: Taur...,"Featured,at",classification: Administration & Office Suppor...,50620889
2,Prosecutions Support Officer,New Zealand Police,location: AucklandAuckland,"4d ago,at",classification: Administration & Office Suppor...,50622169
3,Early Childhood Centre Administrator,Kew Pacific Island Early Learning Centre,location: SouthlandSouthlandarea: Invercargill...,"1h ago,at",classification: Administration & Office Suppor...,50639620
4,Business Support Administrator,NaN,location: CanterburyCanterburyarea: Christchur...,"4d ago,at,Private Advertiser",classification: Administration & Office Suppor...,50622432

In [109]:
# The following process is to look at whether these references are duplicated, and it seems many of them
# are duplicated. Reference number should be unique within each company, and difference companies may have
# vancacy with same reference number. Therefore, the column Ref_No cannot be used to identify particular 
# job vancacy.
nz_admin_01['Ref_No'].value_counts()

50490283    70
50518469    70
50487373    70
50482020    70
50490247    70
            ..
50628245     1
50606796     1
50567322     1
50600797     1
50576272     1
Name: Ref_No, Length: 706, dtype: int64

## Column "字段1"

In [122]:
nz_admin_01['字段1'].value_counts()

Executive Assistant                                                301
Temporary Office Roles                                             280
Team Administrator                                                  76
Contracts Administrator                                             76
Temp Receptionists/Administrators - Ad Agencies/Music Companies     71
                                                                  ...
LIA - Immigration Advisor                                            1
Library Assistant                                                    1
Customer Service /Sales/Admin                                        1
Team Member Customer Service                                         1
Provider Registration Administrator - Lower Hutt                     1
Name: 字段1, Length: 548, dtype: int64

In [127]:
# The nz_admin dataset contains 548 unique profession.
nz_admin_01['字段1'].nunique()

548

## Column "字段2"

In [133]:
# column "字段2" contains missing values. This column presents the corporate name, which allows to analyse 
# job vacancy within particular company. Missing values occupies less than 5% of the whole, I decide to 
# drop these missing values. 
nz_admin_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2708 entries, 0 to 2707
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   字段1     2708 non-null   object
 1   字段2     2686 non-null   object
 2   字段3     2708 non-null   object
 3   字段4     2708 non-null   object
 4   字段5     2708 non-null   object
 5   Ref_No  2708 non-null   object
dtypes: object(6)
memory usage: 127.1+ KB

In [143]:
nz_admin_02 = nz_admin_01.copy()

In [144]:
nz_admin_02.head(7)

,字段1,字段2,字段3,字段4,字段5,Ref_No
0,Administrator,NaN,location: Bay of PlentyBay of Plentyarea: Taur...,"Featured,at,Private Advertiser",classification: Administration & Office Suppor...,50582301
1,Receptionist,Avenues Orthodontics,location: Bay of PlentyBay of Plentyarea: Taur...,"Featured,at",classification: Administration & Office Suppor...,50620889
2,Prosecutions Support Officer,New Zealand Police,location: AucklandAuckland,"4d ago,at",classification: Administration & Office Suppor...,50622169
3,Early Childhood Centre Administrator,Kew Pacific Island Early Learning Centre,location: SouthlandSouthlandarea: Invercargill...,"1h ago,at",classification: Administration & Office Suppor...,50639620
4,Business Support Administrator,NaN,location: CanterburyCanterburyarea: Christchur...,"4d ago,at,Private Advertiser",classification: Administration & Office Suppor...,50622432
5,Support Officer,Ministry for Primary Industries,location: NorthlandNorthlandarea: WhangareiWha...,"9m ago,at",classification: Administration & Office Suppor...,50640393
6,Support Officer,"Ministry of Business, Innovation and Employment",location: WellingtonWellingtonarea: Wellington...,"5d ago,at",classification: Administration & Office Suppor...,50615674

In [145]:
nz_admin_02.dropna(inplace=True)

In [150]:
nz_admin_02.head()

,字段1,字段2,字段3,字段4,字段5,Ref_No
1,Receptionist,Avenues Orthodontics,location: Bay of PlentyBay of Plentyarea: Taur...,"Featured,at",classification: Administration & Office Suppor...,50620889
2,Prosecutions Support Officer,New Zealand Police,location: AucklandAuckland,"4d ago,at",classification: Administration & Office Suppor...,50622169
3,Early Childhood Centre Administrator,Kew Pacific Island Early Learning Centre,location: SouthlandSouthlandarea: Invercargill...,"1h ago,at",classification: Administration & Office Suppor...,50639620
5,Support Officer,Ministry for Primary Industries,location: NorthlandNorthlandarea: WhangareiWha...,"9m ago,at",classification: Administration & Office Suppor...,50640393
6,Support Officer,"Ministry of Business, Innovation and Employment",location: WellingtonWellingtonarea: Wellington...,"5d ago,at",classification: Administration & Office Suppor...,50615674

## Column "字段3"

In [157]:
# the column "字段3" presents the corporate address of each company. Many characters are all linked together.
# In addition, all suburbs duplicates. 
nz_admin_02['字段3'].head(10)

1                   location: Bay of PlentyBay of Plentyarea: TaurangaTauranga
2                                                   location: AucklandAuckland
3                   location: SouthlandSouthlandarea: InvercargillInvercargill
5                         location: NorthlandNorthlandarea: WhangareiWhangarei
6     location: WellingtonWellingtonarea: Wellington CentralWellington Central
7                     location: Bay of PlentyBay of Plentyarea: RotoruaRotorua
8                   location: Bay of PlentyBay of Plentyarea: TaurangaTauranga
9                                               location: CanterburyCanterbury
10    location: West CoastWest Coastarea: Rest of West CoastRest of West Coast
11                                    location: TasmanTasmanarea: NelsonNelson
Name: 字段3, dtype: object

In [182]:
### Demonstration of steps to create Python function "address_are":
# print([x.strip() for x in nz_admin_02['字段3'].iloc[0].split(":")])
# print([x.strip() for x in nz_admin_02['字段3'].iloc[0].split(":")][1])
# aaa = re.findall('[A-Z][^A-Z]*', [x.strip() for x in nz_admin_02['字段3'].iloc[0].split(":")][1])
# print(aaa)
# bbb = ""
# for i in range(len(aaa)//2):
#     bbb += aaa[i]
# print(bbb)

['location', 'Bay of PlentyBay of Plentyarea', 'TaurangaTauranga']
Bay of PlentyBay of Plentyarea
['Bay of ', 'Plenty', 'Bay of ', 'Plentyarea']
Bay of Plenty

In [276]:
def address_area(address):
    lst_address = [x.strip() for x in address.split(":")][1]
    lst_area = re.findall('[A-Z][^A-Z]*', lst_address)
    area = ""
    for i in range(len(lst_area)//2):
        area += lst_area[i]
    return area

In [277]:
nz_admin_03 = nz_admin_02.copy()

In [278]:
nz_admin_03['Company location (Area)'] = nz_admin_03['字段3'].apply(lambda row: address_area(row))

In [279]:
def address_suburb(address):
    lst_address = [x.strip() for x in address.split(":")]
    if len(lst_address) == 3:
        lst_suburb = re.findall('[A-Z][^A-Z]*', lst_address[2])
        suburb = ""
        for i in range(len(lst_suburb)//2):
            suburb += lst_suburb[i]
        return suburb
#     else:
#         return 0

In [280]:
nz_admin_03['Company location (suburb)'] = nz_admin_03['字段3'].apply(lambda row: address_suburb(row))

In [338]:
nz_admin_04 = nz_admin_03.copy()

In [268]:
# nz_admin_04.drop('字段3', axis=1, inplace=True)

In [339]:
nz_admin_04.rename({'字段1': 'occupation', '字段2': 'Company Name'}, axis=1, inplace=True)
nz_admin_04.head()

,occupation,Company Name,字段3,字段4,字段5,Ref_No,Company location (Area),Company location (suburb)
1,Receptionist,Avenues Orthodontics,location: Bay of PlentyBay of Plentyarea: TaurangaTauranga,"Featured,at",classification: Administration & Office SupportAdministration & Office SupportsubClassification: ReceptionistsReceptionists,50620889,Bay of Plenty,Tauranga
2,Prosecutions Support Officer,New Zealand Police,location: AucklandAuckland,"4d ago,at",classification: Administration & Office SupportAdministration & Office SupportsubClassification: OtherOther,50622169,Auckland,None
3,Early Childhood Centre Administrator,Kew Pacific Island Early Learning Centre,location: SouthlandSouthlandarea: InvercargillInvercargill,"1h ago,at",classification: Administration & Office SupportAdministration & Office SupportsubClassification: Administrative AssistantsAdministrative Assistants,50639620,Southland,Invercargill
5,Support Officer,Ministry for Primary Industries,location: NorthlandNorthlandarea: WhangareiWhangarei,"9m ago,at",classification: Administration & Office SupportAdministration & Office SupportsubClassification: Administrative AssistantsAdministrative Assistants,50640393,Northland,Whangarei
6,Support Officer,"Ministry of Business, Innovation and Employment",location: WellingtonWellingtonarea: Wellington CentralWellington Central,"5d ago,at",classification: Administration & Office SupportAdministration & Office SupportsubClassification: OtherOther,50615674,Wellington,Wellington Central

In [340]:
nz_admin_04 = nz_admin_04.reset_index(drop=True)
nz_admin_04.head(3)

,occupation,Company Name,字段3,字段4,字段5,Ref_No,Company location (Area),Company location (suburb)
0,Receptionist,Avenues Orthodontics,location: Bay of PlentyBay of Plentyarea: TaurangaTauranga,"Featured,at",classification: Administration & Office SupportAdministration & Office SupportsubClassification: ReceptionistsReceptionists,50620889,Bay of Plenty,Tauranga
1,Prosecutions Support Officer,New Zealand Police,location: AucklandAuckland,"4d ago,at",classification: Administration & Office SupportAdministration & Office SupportsubClassification: OtherOther,50622169,Auckland,None
2,Early Childhood Centre Administrator,Kew Pacific Island Early Learning Centre,location: SouthlandSouthlandarea: InvercargillInvercargill,"1h ago,at",classification: Administration & Office SupportAdministration & Office SupportsubClassification: Administrative AssistantsAdministrative Assistants,50639620,Southland,Invercargill

In [341]:
# There are three types of formats to present employee benefits including annual salary, hourly rate and insurance
print(nz_admin_04['字段3'].iloc[39].split(',', 1)[1])
print(nz_admin_04['字段3'].iloc[15].split(',', 1)[1])
print(nz_admin_04['字段3'].iloc[54].split(',', 1)[1])

$40,000 - $49,999
$20 - $24.99 per hour
Includes life and health insurance

In [342]:
def address_benefit(address):
#     lst_address = [x.strip() for x in address.split(":")]
#     if len(lst_address) == 3:
    benefit = address.split(',', 1)
    if len(benefit)>1:
        return benefit[1]

In [360]:
nz_admin_04['Salary($)(Insurance Benefit)'] = nz_admin_04['字段3'].apply(lambda row: address_benefit(row))

In [361]:
nz_admin_05 = nz_admin_04.copy()

In [362]:
nz_admin_05.drop('字段3', axis=1, inplace=True)

In [363]:
# The column "Salary and benefits" contains the majority of missing values.
nz_admin_05.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2686 entries, 0 to 2685
Data columns (total 8 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   occupation                    2686 non-null   object
 1   Company Name                  2686 non-null   object
 2   字段4                           2686 non-null   object
 3   字段5                           2686 non-null   object
 4   Ref_No                        2686 non-null   object
 5   Company location (Area)       2686 non-null   object
 6   Company location (suburb)     2145 non-null   object
 7   Salary($)(Insurance Benefit)  600 non-null    object
dtypes: object(8)
memory usage: 168.0+ KB

In [366]:
nz_admin_05.head(150)

,occupation,Company Name,字段4,字段5,Ref_No,Company location (Area),Company location (suburb),Salary($)(Insurance Benefit)
0,Receptionist,Avenues Orthodontics,"Featured,at",classification: Administration & Office SupportAdministration & Office SupportsubClassification: ReceptionistsReceptionists,50620889,Bay of Plenty,Tauranga,None
1,Prosecutions Support Officer,New Zealand Police,"4d ago,at",classification: Administration & Office SupportAdministration & Office SupportsubClassification: OtherOther,50622169,Auckland,None,None
2,Early Childhood Centre Administrator,Kew Pacific Island Early Learning Centre,"1h ago,at",classification: Administration & Office SupportAdministration & Office SupportsubClassification: Administrative AssistantsAdministrative Assistants,50639620,Southland,Invercargill,None
3,Support Officer,Ministry for Primary Industries,"9m ago,at",classification: Administration & Office SupportAdministration & Office SupportsubClassification: Administrative AssistantsAdministrative Assistants,50640393,Northland,Whangarei,None
4,Support Officer,"Ministry of Business, Innovation and Employment","5d ago,at",classification: Administration & Office SupportAdministration & Office SupportsubClassification: OtherOther,50615674,Wellington,Wellington Central,None
...,...,...,...,...,...,...,...,...
145,Customer Service Officer,CM Trailer Parts,"Featured,at",classification: Administration & Office SupportAdministration & Office SupportsubClassification: Client & Sales AdministrationClient & Sales Administration,50614282,Canterbury,Timaru & South Canterbury,None
146,Business Support Administrator,S&L Land Development and Design Specialists,"Featured,at",classification: Administration & Office SupportAdministration & Office SupportsubClassification: Administrative AssistantsAdministrative Assistants,50591178,Bay of Plenty,Tauranga,None
147,Branch and Events Administrator,Momentum Consulting Group,"7d ago,at",Up to $27ph,50597675,Manawatu,Palmerston North,Up to $27ph
148,Office Administrator,Lewis Plumbing Co,"13d ago,at",classification: Administration & Office SupportAdministration & Office SupportsubClassification: Administrative AssistantsAdministrative Assistants,50571080,Bay of Plenty,Rotorua,None
149,Frontline Media/Marketing Office Super Star,Wilkin River Jets,"6d ago,at",classification: Administration & Office SupportAdministration & Office SupportsubClassification: Administrative AssistantsAdministrative Assistants,50605827,Otago,Queenstown & Wanaka,None

## Column "字段4"

In [371]:
nz_admin_05['字段4'].iloc[146]

'Featured,at'

In [381]:
re.search(r'(\d+)', nz_admin_05['字段4'].iloc[147]).group()

'7'

In [382]:
try:
  print(re.search(r'(\d+)', nz_admin_05['字段4'].iloc[146]).group())
except:
  print("An exception occurred")

An exception occurred

In [394]:
def job_posted(row):
    try:
      return re.search(r'(\d+)(\w)', row).group()
    except:
      return None

In [395]:
nz_admin_06 = nz_admin_05.copy()

In [397]:
nz_admin_06['Job_Posted(mins/hrs/days ago)'] = nz_admin_06['字段4'].apply(lambda row: job_posted(row))

In [404]:
# The column "Job_Posted(mins/hrs/days ago)" contains a small amount of missing values.
nz_admin_06.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2686 entries, 0 to 2685
Data columns (total 9 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   occupation                     2686 non-null   object
 1   Company Name                   2686 non-null   object
 2   字段4                            2686 non-null   object
 3   字段5                            2686 non-null   object
 4   Ref_No                         2686 non-null   object
 5   Company location (Area)        2686 non-null   object
 6   Company location (suburb)      2145 non-null   object
 7   Salary($)(Insurance Benefit)   600 non-null    object
 8   Job_Posted(mins/hrs/days ago)  2668 non-null   object
dtypes: object(9)
memory usage: 189.0+ KB

In [405]:
nz_admin_07 = nz_admin_06.copy()

In [407]:
nz_admin_07.drop('字段4', axis=1, inplace=True)

In [408]:
nz_admin_07.head()

,occupation,Company Name,字段5,Ref_No,Company location (Area),Company location (suburb),Salary($)(Insurance Benefit),Job_Posted(mins/hrs/days ago)
0,Receptionist,Avenues Orthodontics,classification: Administration & Office SupportAdministration & Office SupportsubClassification: ReceptionistsReceptionists,50620889,Bay of Plenty,Tauranga,None,None
1,Prosecutions Support Officer,New Zealand Police,classification: Administration & Office SupportAdministration & Office SupportsubClassification: OtherOther,50622169,Auckland,None,None,4d
2,Early Childhood Centre Administrator,Kew Pacific Island Early Learning Centre,classification: Administration & Office SupportAdministration & Office SupportsubClassification: Administrative AssistantsAdministrative Assistants,50639620,Southland,Invercargill,None,1h
3,Support Officer,Ministry for Primary Industries,classification: Administration & Office SupportAdministration & Office SupportsubClassification: Administrative AssistantsAdministrative Assistants,50640393,Northland,Whangarei,None,9m
4,Support Officer,"Ministry of Business, Innovation and Employment",classification: Administration & Office SupportAdministration & Office SupportsubClassification: OtherOther,50615674,Wellington,Wellington Central,None,5d

## Column "字段5"

In [522]:
nz_admin_08 = nz_admin_07.copy()

In [564]:
######### Demonstration of steps to create Python function "return_classification" and "return_subclass":
# print(nz_admin_08['字段5'].iloc[10])
# print(nz_admin_08['字段5'].iloc[10].split(':'))
# print(nz_admin_08['字段5'].iloc[11].split(':'))
# print(nz_admin_08['字段5'].iloc[11].split(':')[1])
# print(nz_admin_08['字段5'].iloc[11].split(':')[1].split('subClassification'))
# print(re.findall('[A-Z][^A-Z]*', nz_admin_08['字段5'].iloc[11].split(':')[1].split('subClassification')[0]))
# print(re.search(r'(\w+\s*&\s*\w+\s*\w[a-z]+)', nz_admin_08['字段5'].iloc[11].split(':')[1]).group())
# print(nz_admin_08['字段5'].iloc[4].split(':')[2])
# # print(re.findall('[A-Z][^A-Z]*', nz_admin_08['字段5'].iloc[13].split(':')[2]) #13)

$20 per hour
['$20 per hour']
['classification', ' Administration & Office SupportAdministration & Office SupportsubClassification', ' Office ManagementOffice Management']
 Administration & Office SupportAdministration & Office SupportsubClassification
[' Administration & Office SupportAdministration & Office Support', '']
['Administration & ', 'Office ', 'Support', 'Administration & ', 'Office ', 'Support']
Administration & Office Support
 OtherOther

In [532]:
def return_classification(row):
    lst_row = row.split(':')
    classfication = ""
    if len(lst_row)==1:
        return None
    else:
        lst_class = re.findall('[A-Z][^A-Z]*', lst_row[1].split('subClassfication')[0])
        for i in range(len(lst_class)//2):
            classfication += lst_class[i]
        return classfication

In [533]:
nz_admin_08['job_classification'] = nz_admin_08['字段5'].apply(lambda row: return_classification(row))

In [534]:
nz_admin_08.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2686 entries, 0 to 2685
Data columns (total 9 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   occupation                     2686 non-null   object
 1   Company Name                   2686 non-null   object
 2   字段5                            2686 non-null   object
 3   Ref_No                         2686 non-null   object
 4   Company location (Area)        2686 non-null   object
 5   Company location (suburb)      2145 non-null   object
 6   Salary($)(Insurance Benefit)   600 non-null    object
 7   Job_Posted(mins/hrs/days ago)  2668 non-null   object
 8   job_classification             2086 non-null   object
dtypes: object(9)
memory usage: 189.0+ KB

In [536]:
def return_subclass(row):
    lst_row = row.split(':')
    subclass = ""
    if len(lst_row)==1:
        return None
    else:
        lst_subclass = re.findall('[A-Z][^A-Z]*', lst_row[2])
        for i in range(len(lst_subclass)//2):
            subclass += lst_subclass[i]
        return subclass

In [542]:
nz_admin_08['字段5'].apply(lambda row: return_subclass(row))

0                       Receptionists
1                               Other
2           Administrative Assistants
3           Administrative Assistants
4                               Other
                    ...
2681    Client & Sales Administration
2682                             None
2683                             None
2684                             None
2685             PA, EA & Secretarial
Name: 字段5, Length: 2686, dtype: object

In [541]:
nz_admin_08.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2686 entries, 0 to 2685
Data columns (total 9 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   occupation                     2686 non-null   object
 1   Company Name                   2686 non-null   object
 2   字段5                            2686 non-null   object
 3   Ref_No                         2686 non-null   object
 4   Company location (Area)        2686 non-null   object
 5   Company location (suburb)      2145 non-null   object
 6   Salary($)(Insurance Benefit)   600 non-null    object
 7   Job_Posted(mins/hrs/days ago)  2668 non-null   object
 8   job_classification             2086 non-null   object
dtypes: object(9)
memory usage: 189.0+ KB

In [543]:
nz_admin_08['job_subclassification'] = nz_admin_08['字段5'].apply(lambda row: return_subclass(row))

In [545]:
nz_admin_08.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2686 entries, 0 to 2685
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   occupation                     2686 non-null   object
 1   Company Name                   2686 non-null   object
 2   字段5                            2686 non-null   object
 3   Ref_No                         2686 non-null   object
 4   Company location (Area)        2686 non-null   object
 5   Company location (suburb)      2145 non-null   object
 6   Salary($)(Insurance Benefit)   600 non-null    object
 7   Job_Posted(mins/hrs/days ago)  2668 non-null   object
 8   job_classification             2086 non-null   object
 9   job_subclassification          2086 non-null   object
dtypes: object(10)
memory usage: 210.0+ KB

In [546]:
nz_admin_09 = nz_admin_08.copy()

In [547]:
nz_admin_09.drop('字段5', axis=1, inplace=True)

In [548]:
# The columns "job_classification" and "job_subclassification" contains some missing values.
nz_admin_09.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2686 entries, 0 to 2685
Data columns (total 9 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   occupation                     2686 non-null   object
 1   Company Name                   2686 non-null   object
 2   Ref_No                         2686 non-null   object
 3   Company location (Area)        2686 non-null   object
 4   Company location (suburb)      2145 non-null   object
 5   Salary($)(Insurance Benefit)   600 non-null    object
 6   Job_Posted(mins/hrs/days ago)  2668 non-null   object
 7   job_classification             2086 non-null   object
 8   job_subclassification          2086 non-null   object
dtypes: object(9)
memory usage: 189.0+ KB

In [551]:
nz_admin_09.head()

,occupation,Company Name,Ref_No,Company location (Area),Company location (suburb),Salary($)(Insurance Benefit),Job_Posted(mins/hrs/days ago),job_classification,job_subclassification
0,Receptionist,Avenues Orthodontics,50620889,Bay of Plenty,Tauranga,None,None,Administration & Office Support,Receptionists
1,Prosecutions Support Officer,New Zealand Police,50622169,Auckland,None,None,4d,Administration & Office Support,Other
2,Early Childhood Centre Administrator,Kew Pacific Island Early Learning Centre,50639620,Southland,Invercargill,None,1h,Administration & Office Support,Administrative Assistants
3,Support Officer,Ministry for Primary Industries,50640393,Northland,Whangarei,None,9m,Administration & Office Support,Administrative Assistants
4,Support Officer,"Ministry of Business, Innovation and Employment",50615674,Wellington,Wellington Central,None,5d,Administration & Office Support,Other

## Clean dataset

In [565]:
nz_admin_clean = nz_admin_09.copy()

In [566]:
nz_admin_clean.head(20)

,occupation,Company Name,Ref_No,Company location (Area),Company location (suburb),Salary($)(Insurance Benefit),Job_Posted(mins/hrs/days ago),job_classification,job_subclassification
0,Receptionist,Avenues Orthodontics,50620889,Bay of Plenty,Tauranga,None,None,Administration & Office Support,Receptionists
1,Prosecutions Support Officer,New Zealand Police,50622169,Auckland,None,None,4d,Administration & Office Support,Other
2,Early Childhood Centre Administrator,Kew Pacific Island Early Learning Centre,50639620,Southland,Invercargill,None,1h,Administration & Office Support,Administrative Assistants
3,Support Officer,Ministry for Primary Industries,50640393,Northland,Whangarei,None,9m,Administration & Office Support,Administrative Assistants
4,Support Officer,"Ministry of Business, Innovation and Employment",50615674,Wellington,Wellington Central,None,5d,Administration & Office Support,Other
5,office administrator,Hepburn Electrical Ltd,50640166,Bay of Plenty,Rotorua,None,7m,Administration & Office Support,Administrative Assistants
6,Office Administrator,Webster Holland Ltd,50639248,Bay of Plenty,Tauranga,None,2h,Administration & Office Support,Administrative Assistants
7,Administration Officer,New Zealand Police,50629393,Canterbury,None,None,3d,Administration & Office Support,Other
8,Administration Officer,Department of Conservation,50600186,West Coast,Rest of West Coast,None,7d,Administration & Office Support,Administrative Assistants
9,Data Entry,Triple One Care,50616188,Tasman,Nelson,None,5d,Administration & Office Support,Data Entry & Word Processing
10,Office Admin Assistant (10hrs per week),UIV Limited - Premier Insulation North Central,50597141,Auckland,Manukau & East Auckland,$20 per hour,8d,None,None
11,Office Administrator,Wraight and Associates Ltd.,50632818,Wellington,Wellington Central,None,3d,Administration & Office Support,Office Management
12,Office Administrator,Morgan & Pollard Landscapes Ltd,50632185,Canterbury,Rest of Canterbury,None,3d,Administration & Office Support,Administrative Assistants
13,Customer Service Officer,CM Trailer Parts,50614282,Canterbury,Timaru & South Canterbury,None,5d,Administration & Office Support,Client & Sales Administration
14,Administration Assistant - Mt Wellington,Harvey Norman,50638817,Auckland,Auckland Central,None,4h,Administration & Office Support,Administrative Assistants
15,Part-time Health & Disability Administrative Assistant,LIFEWISE,50610748,Auckland,Auckland Central,$20 - $24.99 per hour,6d,None,None
16,"Office Coordinator, Whangarei Youth Space",Whangarei Youth Space,50633756,Northland,Whangarei,None,3d,Administration & Office Support,Administrative Assistants
17,Administration Officer - Part Time,HiFlo Pumps Ltd,50637525,Auckland,Auckland Central,None,2d,Administration & Office Support,Administrative Assistants
18,Part-time Admin/Accounts Person,People Passion,50631111,Auckland,Papakura & Franklin,None,3d,Administration & Office Support,Administrative Assistants
19,Business Support Administrator,S&L Land Development and Design Specialists,50591178,Bay of Plenty,Tauranga,None,None,Administration & Office Support,Administrative Assistants

# References
We report here relevant references:
1. author1, article1, journal1, year1, url1
2. author2, article2, journal2, year2, url2